/*-------------------------------------------------------------------------------------------------------------------------------*/
/* FONT FAMILY*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
$fontfam: 'Venti';

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* SITE COLOURS*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
$acc1: #f1673a;
$acc2: #354650;
$acc3: #FFFFFF;
$acc4: #c5c5c5;
$acc5: #f8f8f8;


audio {
  width: 100%;

}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
