= render partial: 'design/home/banner'
.spacer-75
= render partial: 'design/home/short_story'
.spacer-75
= render partial: 'design/home/business_partners'
.spacer-75
= render partial: 'design/home/app_features'
.spacer-75
= render partial: 'design/home/audio_tours'
.spacer-75
= render partial: 'design/home/app_downloads'
